.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr 3.5fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "Area Area . visu" "Options Options . visu" "Options Options . visu";
}

.Options {
    grid-area: Options;
}

.Area {
    grid-area: Area;
}

.visu {
    grid-area: visu;
}

h4,
h5 {
    text-align: center;
}

div.DTS div.dataTables_scrollBody {
    background: white;
}

.sheet_name {
    font-weight: bold;
}